# Visual Studio files
.vs/
*.user
*.suo
*.cache
*.dll.refresh
*.pdb
*.exe
*.log
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.testlog
*.manifest

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio Code
.vscode/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/